[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
GitPython = "*"
docker = "*"

[dev-packages]
pylint = "*"
pipenv-setup = "*"
twine = "*"

[requires]
python_version = "3.8"
