[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
docker = "*"

[dev-packages]
build = "*"
pylint = "*"
pipenv-setup = "*"

[requires]
python_version = "3.8"
